body{
    margin: 0;
    padding: 0;
}
.container-scondary {
  width: 80%;
}
.dot {
  width: 15px;
  height: 15px;
  display: inline-block;
}
.online {
  animation: dotOnline 1.5s ease infinite forwards alternate;
}
.offline {
  background: #ff0000;
}
@keyframes dotOnline {
  0% {
    background-color: #fff000;
  }
  100% {
    background-color: #008000;
  }
}
